.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1240px;
}
.containerScroll {
  margin-top: 40px;
  flex: 1 1 auto;
}
.scrollTrack {
  cursor: pointer;
  background-color: #2f2f37;
  right: 2px;
  bottom: 2px;
  top: 2px;
  border-radius: 1px;
  width: 8px;
}
.scrollThumb {
  width: 8px;
  border-radius: 3px;
  background-color: #8585ad;
}
.nav {
  margin-top: 120px;
}
