.section {
  display: flex;
  flex-direction: column;
}
.containerScroll {
  flex: 1 1 auto;
}
.scrollTrack {
  cursor: pointer;
  background-color: #2f2f37;
  right: 2px;
  bottom: 2px;
  top: 2px;
  border-radius: 1px;
  width: 8px;
}
.scrollThumb {
  width: 8px;
  border-radius: 3px;
  background-color: #8585ad;
}
.containerTopping {
  display: flex;
  flex-direction: column;
}
.title {
  text-align: left;
}
.ingredients {
  display: grid;
  grid-template-columns: 272px 272px;
  column-gap: 24px;
  row-gap: 32px;
  align-items: center;
  justify-content: start;
}
.ingredient {
  position: relative;
  cursor: pointer;
}
