.section {
  display: flex;
  flex-direction: column;
  width: 640px;
  position: relative;
}
.containerScroll {
  height: 312px;
}
.scrollTrack {
  cursor: pointer;
  background-color: #2f2f37;
  right: 2px;
  bottom: 2px;
  top: 2px;
  border-radius: 1px;
  width: 8px;
}
.scrollThumb {
  width: 8px;
  border-radius: 3px;
  background-color: #8585ad;
}
.number {
  text-align: center;
}
.status {
  color: #00cccc;
}
.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ingredient {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.image {
  width: 60px;
  height: 60px;
  background: linear-gradient(#131316, #131316) padding-box,
    linear-gradient(63.18deg, #801ab3 0%, #4c4cff 100%) border-box;
  border: 2px solid transparent;
  border-radius: 50%;
  object-fit: cover;
}
.total {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.cost {
  margin-right: 9px;
}
