.overlay {
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.6;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 8;
}
